
@{
    ViewBag.Title = "GioiThieu";
}

<div class="container">
    <strong style="font-size:35px;color:black">Giới thiệu</strong>
    <p><strong><strong>Đánh giá:</strong></strong></p>

    <p><img alt="1" src="https://dulichviet.com.vn/images/lib/star-on.png" style="height:16px; width:16px" title="bad" /> <img alt="2" src="https://dulichviet.com.vn/images/lib/star-on.png" style="height:16px; width:16px" title="poor" /> <img alt="3" src="https://dulichviet.com.vn/images/lib/star-on.png" style="height:16px; width:16px" title="regular" /> <img alt="4" src="https://dulichviet.com.vn/images/lib/star-on.png" style="height:16px; width:16px" title="good" /> <img alt="5" src="https://dulichviet.com.vn/images/lib/star-on.png" style="height:16px; width:16px" title="gorgeous" /></p>

    <p>&nbsp; <strong>5</strong><strong>/5</strong> trong <strong>735</strong> Đánh giá</p>


    <p>
        <strong>CÔNG TY CỔ PHẦN TRUYỀN THÔNG DU LỊCH VIỆT</strong><br />
        <strong>TOP 10 CÔNG TY DU LỊCH HÀNG ĐẦU VIỆT NAM</strong>
    </p>

    <p>
        <strong>THÔNG TIN CƠ BẢN VỀ CÔNG TY</strong><br />
        - Tên chính thức : CÔNG TY CỔ PHẦN TRUYỀN THÔNG DU LỊCH VIỆT<br />
        - Tên giao dịch đối ngoại: VIET MEDIA TRAVEL CORPORATION<br />
        - Tên giao dịch viết tắt: VIET MEDIA TRAVEL<br />
        - Hình thức sở hữu: &nbsp;Cổ phần; Thành lập: Ngày 11/01/2008<br />
        - Giấy phép LHQT số: GP79-042/2009/TCDL-GP.&nbsp;<br />
        - Số ĐKKD: 030 5448 565 được cấp bởi Sở Kế hoạch và Đầu tư TP. Hồ Chí Minh.<br />
        - Đăng ký lần đầu ngày 11/01/2008,&nbsp;<br />
        - Đăng ký thay đổi lần 05 ngày 26/10/2017
    </p>

    <p>
        <strong>TRỤ SỞ CHÍNH</strong><br />
        - Địa chỉ: <a href="https://maps.app.goo.gl/bj6Se5pc89QAQuGQA" rel="noopener noreferrer" target="_blank"><strong>217 Bis Nguyễn Thị Minh Khai, P. Nguyễn Cư Trinh, Q.1</strong><strong>&nbsp;</strong></a><br />
        - Hotline : 1900 1177<br />
        - Tel: (+84 8) 730 56789 &nbsp; &nbsp; &nbsp;&nbsp;<br />
        - Website: <a href="https://dulichviet.com.vn/" rel="noopener noreferrer" target="_blank">www.dulichviet.com.vn</a><br />
        - Email: info@dulichviet.com.vn<br />
        <strong>&nbsp; CHI NHÁNH HÀ NỘI</strong><br />
        - Địa chỉ: <a href="https://maps.app.goo.gl/EektFmiwiPoVnyna6" rel="noopener noreferrer" target="_blank"><strong>44 Tràng Tiền, Quận Hoàn Kiếm, Hà Nội</strong></a><br />
        - Điện thoại: (+84 4) 35 123 388&nbsp;<br />
        - Email: info@dulichviet.com.vn
    </p>

    <p>
        <strong>DU LỊCH VIỆT TẠI&nbsp;VŨNG TÀU</strong><br />
        - Địa chỉ: 344 Trương Công Định . Phường 8.TP-Vũng Tàu.<br />
        - Điện thoại : 083 268 4567<br />
        - Email: vungtau@dulichviet.com.vn<br />
        <strong>DU LỊCH VIỆT TẠI NGHỆ AN&nbsp;</strong><br />
        - Địa chỉ: Số 28B NGUYỄN SỸ SÁCH TP- NGHỆ AN<br />
        - Điện thoại : 094 266 8026<br />
        - Email: nghean@dulichviet.com.vn &nbsp;&nbsp;
    </p>

    <p>
        <strong>DU LỊCH VIỆT TẠI</strong><strong> HẢI PHÒNG</strong><br />
        - Địa chỉ: 200D Tô Hiệu, Lê Chân, Hải Phòng<br />
        - Điện thoại : 0225 371 0099<br />
        - Email: haiphong@dulichviet.com.vn
    </p>

    <p>
        <strong>VĂN PHÒNG ĐẠI DIỆN HOA KỲ</strong><br />
        - Địa chỉ: 15751 Bookhurst St, Suite # 203 Westminster &nbsp;California 92683<br />
        - Tel &nbsp;(71 4) 775 - 9999 &nbsp;; Cell: (71 4) 713 – 1524<br />
        - Email: info@dulichviet.com.vn<br />
        <br />
        <strong>TẦM NHÌN</strong>
    </p>

    <ul>
        <li>
            <p>Trở thành Thương hiệu du lịch được yêu thích nhất của người Việt Nam</p>
        </li>
        <li>
            <p>Trở thành Tập đoàn du lịch nghỉ dưỡng Top đầu Đông Nam á</p>
        </li>
    </ul>

    <p><strong>SỨ MỆNH</strong></p>

    <ul>
        <li>
            <p>Tạo ra các sản phẩm du lịch phong phú, nhân văn cho mọi gia đình Việt với&nbsp;</p>
        </li>
    </ul>

    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;GIÁ TRỊ GỐC – &nbsp;CHẤT LƯỢNG CAO&nbsp;</p>

    <ul>
        <li>
            <p>Chuyển tải vẻ đẹp của các danh lam thắng cảnh, nét văn hóa độc đáo và những thành tựu phát triển mọi mặt của nhân loại tới khách hàng;&nbsp;</p>
        </li>
        <li>
            <p>&nbsp;Kết nối, dẫn dắt đem đến cho du khách trải nghiệm thú vị trong từng hành trình đến với những miền đất Việt Nam tươi đẹp và những nền văn minh của các quốc gia trên thế giới.</p>
        </li>
    </ul>

    <p>
        <strong>CÁC THÀNH TÍCH ĐẠT ĐƯỢC:</strong><br />
        <strong>Công ty Cổ phần Truyền thông Du Lịch Việt tự hào:&nbsp;</strong>
    </p>

    <ul>
        <li>
            <p>6 năm liền đứng trong TOP 10 công ty Du lịch hàng đầu Việt Nam do Tổng Cục du&nbsp;lịch Việt Nam trao tặng. &nbsp;</p>
        </li>
        <li>
            <p>Doanh nghiệp 8 năm liên tiếp trong TOP 10 Doanh nghiệp Du Lịch hàng đầu của&nbsp;TP.&nbsp;HCM do Sở Văn hóa Thông tin Du lịch và Ủy Ban Nhân Dân Thành Phố Hồ Chí&nbsp;Minh trao tặng.</p>
        </li>
        <li>
            <p>2 lần liên tiếp TOP 100 Doanh nghiệp Sao Vàng Đất Việt (2014 và 2018 ) - thương hiệu hàng đầu Việt Nam có khả năng cạnh tranh quốc tế do Trung ương Hội LHTN&nbsp;VN và Hội Doanh Nhân Trẻ Việt Nam trao tặng và rất nhiều thành tích nổi bật khác.&nbsp;&nbsp;</p>
        </li>
    </ul>

    <table align="center" border="1" cellpadding="1" cellspacing="1">
        <tbody>
            <tr>
                <td><img alt="Giới thiệu" src="https://dulichviet.com.vn/images/bandidau/images/GI%E1%BB%9AI%20THI%E1%BB%86U%20C%C3%94NG%20TY/cup-vang-thuong-hieu-viet.png" style="height:300px; width:153px" /></td>
                <td><img alt="Giới thiệu" src="https://dulichviet.com.vn/images/bandidau/images/GI%E1%BB%9AI%20THI%E1%BB%86U%20C%C3%94NG%20TY/top-10-lu-hanh-noi-dia.png" style="height:273px; width:149px" /></td>
                <td><img alt="Giới thiệu" src="https://dulichviet.com.vn/images/bandidau/images/GI%E1%BB%9AI%20THI%E1%BB%86U%20C%C3%94NG%20TY/cup-trang-web.png" style="height:323px; width:100px" /></td>
                <td><img alt="Giới thiệu" src="https://dulichviet.com.vn/images/bandidau/images/GI%E1%BB%9AI%20THI%E1%BB%86U%20C%C3%94NG%20TY/top-10-lu-hanh-noi-dia.png" style="height:273px; width:149px" /></td>
                <td><img alt="Giới thiệu" src="https://dulichviet.com.vn/images/bandidau/images/GI%E1%BB%9AI%20THI%E1%BB%86U%20C%C3%94NG%20TY/cup-vang-thuong-hieu-viet.png" style="height:300px; width:153px" /></td>
            </tr>
            <tr>
                <td><img alt="Giới thiệu" src="https://dulichviet.com.vn/images/bandidau/images/GI%E1%BB%9AI%20THI%E1%BB%86U%20C%C3%94NG%20TY/giai-thuong-website-2014.png" style="height:200px; width:149px" /></td>
                <td><img alt="Giới thiệu" src="https://dulichviet.com.vn/images/bandidau/images/GI%E1%BB%9AI%20THI%E1%BB%86U%20C%C3%94NG%20TY/Gi%E1%BA%A5y%20ch%E1%BB%A9ng%20nh%E1%BA%ADn%20Th%C6%B0%C6%A1ng%20Hi%E1%BB%87u%20Vi%E1%BB%87t%202011%20(2).jpg" style="height:200px; width:149px" /></td>
                <td><img alt="Giới thiệu" src="https://dulichviet.com.vn/images/bandidau/images/GI%E1%BB%9AI%20THI%E1%BB%86U%20C%C3%94NG%20TY/Gi%E1%BA%A5y%20ch%E1%BB%A9ng%20nh%E1%BA%ADn%20Th%C6%B0%C6%A1ng%20Hi%E1%BB%87u%20Vi%E1%BB%87t%202011%20(3).jpg" style="height:200px; width:149px" /></td>
                <td><img alt="Giới thiệu" src="https://dulichviet.com.vn/images/bandidau/images/GI%E1%BB%9AI%20THI%E1%BB%86U%20C%C3%94NG%20TY/Gi%E1%BA%A5y%20ch%E1%BB%A9ng%20nh%E1%BA%ADn%20Th%C6%B0%C6%A1ng%20Hi%E1%BB%87u%20Vi%E1%BB%87t%202011.jpg" style="height:200px; width:149px" /></td>
                <td><img alt="Giới thiệu" src="https://dulichviet.com.vn/images/bandidau/images/GI%E1%BB%9AI%20THI%E1%BB%86U%20C%C3%94NG%20TY/giai-thuong-du-lich-2014.png" style="height:200px; width:149px" /></td>
            </tr>
        </tbody>
    </table>

    <p>
        <strong>Thành tích đạt được gần nhất:</strong><br />
        <strong>&nbsp;</strong>
    </p>

    <ul>
        <li>
            <p>Top 10 Doanh nghiệp Lữ hành Outbound hàng đầu Việt Nam năm 2019 do Bộ Văn hóa Thể Thao và Du lịch trao tặng.&nbsp;</p>
        </li>
        <li>
            <p>Top 3 Doanh nghiệp lữ hành outbound hàng đầu TP.HCM năm 2018 do Ủy Ban Nhân Dân Thành phố Hồ Chí Minh và Sở Du lịch Thành phố Hồ Chí Minh trao tặng.</p>
        </li>
        <li>
            <p>Top 5 Doanh nghiệp lữ hành nội địa hàng đầu TP.HCM năm 2018 do Ủy Ban Nhân Dân Thành phố Hồ Chí Minh và Sở Du Lịch Thành Phố Hồ Chí Minh trao tặng. &nbsp; &nbsp;&nbsp;</p>
        </li>
        <li>
            <p>Top 10 Giải thưởng du lịch Việt Nam năm 2018 (Outbound) do Hiệp Hội du lịch Việt Nam phối hợp với Tổng Cục du lịch Việt Nam trao tặng. &nbsp;</p>
        </li>
        <li>
            <p>Doanh nghiệp Du Lịch có thành tích xuất sắc đạt giải Top 10 Doanh nghiệp hàng đầu Thành phố 5 năm liên tục, góp phần tích cực trong phong trào thi đua của Thành phố do Ủy Ban Nhân Dân TP. Hồ Chí Minh trao tặng. &nbsp;&nbsp;</p>
        </li>
        <li>
            <p>Giải thưởng doanh nghiệp Lữ hành Vàng do đưa nhiều đoàn khách đến tham quan du lịch Nhật Bản – do Cục Xúc tiến Du lịch Nhật Bản tặng.</p>
        </li>
        <li>
            <p>Giải thưởng doanh nghiệp Lữ hành Vàng do đưa nhiều đoàn khách đến tham quan du lịch Hàn Quốc – do Tổng Cục du lịch Hàn Quốc tặng.</p>
        </li>
        <li>
            <p>Đạt danh hiệu top 200 thương hiệu tiêu biểu có khả năng cạnh tranh quốc tế nhận bằng chứng nhận Sao Vàng Đất Việt năm 2018 do UBTƯ Hội Doanh Nhân Trẻ Việt Nam trao tặng. &nbsp;</p>
        </li>
        <li>
            <p>Đơn vị Lữ hành đưa khách Du lịch đến Huế nhiều nhất do UBND Tỉnh Thừa Thiên Huế trao tặng.&nbsp;</p>
        </li>
        <li>
            <p>Top 4 Công ty Lữ hành có doanh số cao nhất do Hãng hàng không Royal Brunie tặng.</p>
        </li>
    </ul>

    <p>Với hơn 11 năm hoạt động theo phương châm “Tạo ra các sản phẩm du lịch tinh tế, trí tuệ, nhân văn”, Tổng giám đốc công ty Du Lịch Việt được vinh danh bằng nhiều giải thưởng:&nbsp;</p>

    <ul>
        <li>
            <p>Top 100 Doanh nhân trẻ tiêu biểu Việt Nam 2015.</p>
        </li>
        <li>
            <p>Top 10 Doanh nhân trẻ xuất sắc TP.HCM&nbsp;</p>
        </li>
    </ul>

    <p><strong>CÁC KHÁCH HÀNG TRUYỀN THỐNG</strong></p>

    <p><strong><img alt="Giới thiệu" src="https://dulichviet.com.vn/images/bandidau/images/GI%E1%BB%9AI%20THI%E1%BB%86U%20C%C3%94NG%20TY/1.jpg" style="height:570px; width:1200px" /></strong></p>

    <p>
        <strong>CÁC SẢN PHẨM CỦA CÔNG TY</strong><br />
        <em><em>Du lịch chuyên đề</em></em>
    </p>

    <ul>
        <li>
            <p>Du lịch Lễ Hội.</p>
        </li>
        <li>
            <p>Du lịch Hành Hương: Israel – Jerusalem – Nazareth; Ấn Độ - Nepal; Myanmar</p>
        </li>
        <li>
            <p>Du lịch kết hợp chăm sóc sức khỏe &amp; làm đẹp: Thái Lan; Singapore; Hàn Quốc.</p>
        </li>
        <li>
            <p>Du lịch công vụ &amp; tìm hiểu cơ hội đầu tư.</p>
        </li>
        <li>
            <p>Du lịch M.I.C.E và EVENT</p>
        </li>
        <li>
            <p>Du lịch ẩm thực &amp; Giao lưu văn hóa.</p>
        </li>
    </ul>

    <p><em><em>Dịch vụ - giải pháp toàn diện</em></em></p>

    <ul>
        <li>
            <p>Dịch vụ visa.</p>
        </li>
        <li>
            <p>Booking vé máy bay.</p>
        </li>
        <li>
            <p>Booking khách sạn.</p>
        </li>
        <li>
            <p>Dịch vụ xe du lịch.</p>
        </li>
    </ul>

    <p><strong>QUÁ TRÌNH HÌNH THÀNH VÀ PHÁT TRIỂN CỦA DU LỊCH VIỆT</strong></p>

    <ul>
        <li>
            <p>Được thành lập từ năm 2008 giữa lúc nền kinh tế trong nước và Quốc tế đang suy&nbsp; &nbsp; &nbsp; &nbsp; thoái, Du Lịch Việt xuất hiện trên thị trường du lịch Việt Nam với sản phẩm du lịch&nbsp; &nbsp; &nbsp; &nbsp; trong nước và Quốc tế chất lượng cao, giá thành rẻ đến bất ngờ. Từ những đường tour du lịch nội địa, công ty triển khai các đường tour du lịch nước ngoài với điểm đến là các quốc gia trong khu vực như Campuchia, Thái Lan, Singapore, Malaysia, Hong Kong, Trung Quốc, Hàn Quốc…cùng các sản phẩm dịch vụ du lịch đa dạng, nhận được sự phản hồi tích cực của khách hàng như: Du lịch trọn gói trong nước và Quốc tế khởi hành hàng ngày; Du lịch nghỉ dưỡng cao cấp, Trăng mật lãng mạn, Khám phá mạo hiểm. Song song với các đường tour ngắn, Du Lịch Việt cũng tiếp tục khai thác các thị trường xa như Châu Âu, Nga, Mỹ, Úc… Đặc biệt, Công ty đã phát triển mạnh các tour du lịch hành hương Công Giáo đặc biệt đi đến Đất Thánh Israel, Tòa Thánh Vatican, Fatima…</p>
        </li>
        <li>
            <p>Định hướng chiến lược mang tính đột phá tại thời điểm thành lập và đi vào vận hành trong những bước đi chập chững ban đầu của DLV đó là: Thay vì tập trung vào quảng cáo, đầu tư hệ thống bán hàng theo cách truyền thống làm tăng chi phí cố định dẫn đến tăng giá thành tour, Du lịch Việt đã tập trung đầu tư vốn vào chất lượng dịch vụ và xây dựng nguồn nhân lực để giữ dịch vụ được ổn định, tốt nhất cho du khách trong mọi thời điểm.&nbsp;</p>
        </li>
        <li>
            <p>Với việc xác định rõ tiêu chí kinh doanh của mình là cung cấp cho khách hàng những sản phẩm du lịch tốt nhất với giá cả hợp lý, trong những năm 2009 – 2010, Công ty tung ra hàng loạt sản phẩm Tour Nội địa Kích cầu với mức giá giảm đến 40 – 60% so với thị trường nhưng vẫn bảo đảm chất lượng dịch vụ. Đây cũng chính là bước đột phá đưa tên tuổi Du Lịch Việt lên tầm nhận biết cao.</p>
        </li>
        <li>
            <p>Tiếp tục giữ vững phương châm hoạt động liên tục các năm từ 2013-2018, Công ty đã có trên 300.000 lượt khách hàng/năm, trong đó có tới hơn 70% khách hàng cũ tiếp tục sử dụng các sản phẩm do Du Lịch Việt cung cấp.&nbsp;</p>
        </li>
    </ul>

    <p><em><em>Công ty Du Lịch Việt luôn nỗ lực hết mình và không ngừng sáng tạo, đổi mới, phấn đấu trở thành công ty quy mô và chuyên nghiệp nhất trong lĩnh vực du lịch lữ hành. Với tầm nhìn xa của Ban Lãnh đạo công ty cùng đội ngũ hơn 500 cán bộ công nhân viên, hướng dẫn viên năng động, chuyên nghiệp; Kết hợp thế mạnh về nguồn tài chính vững chắc, mối quan hệ bền vững với các đối tác trong và ngoài nước; Công ty đã và ngày càng xây dựng nhiều sản phẩm du lịch và loại hình du lịch đa dạng phục vụ nhu cầu của khách hàng; Đem lại sự hài lòng, thoải mái, sự trải nghiệm thú vị trong từng chuyến thưởng ngoạn du lịch đầy đam mê và hấp dẫn cùng Du Lịch Việt.</em></em></p>

    <p><strong>CÔNG TÁC XÃ HỘI&nbsp;</strong></p>

    <ul>
        <li>
            <p>Du Lịch Việt thường xuyên tham gia các hoạt động xã hội góp phần xây dựng cộng đồng nhân ái, văn minh. Thông qua các tổ chức xã hội, cơ quan ban ngành, công ty tham gia ủng hộ hoặc trao tặng trực tiếp các phần học bổng dành cho học sinh nghèo vượt khó thuộc các dân tộc thiểu số hoặc vùng sâu vùng xa. Cụ thể như:&nbsp;</p>
        </li>
        <li>
            <p>Đồng hành cùng ngày Hội Giáo dục phát triển TP.HCM &nbsp;năm 2011, Công ty Du Lịch Việt thành lập quỹ học bổng “Du Lịch Việt ươm mầm tài năng Việt” niên khóa 2011- 2012 dành cho đối tượng là các em học sinh nghèo vượt khó học giỏi các cấp khu vực TP.HCM.&nbsp;</p>
        </li>
        <li>
            <p>Tham gia Trao học bổng cho các sinh viên trường Đại học Kinh tế đạt thành tích xuất sắc trong các Niên học.&nbsp;</p>
        </li>
        <li>
            <p>Kết hợp cùng Công ty TNHH Du Lịch Thiên Niên Kỷ (TNK Travel) và Công ty Cổ Phần Du lịch Intertour Việt Nam tổ chức chương trình từ thiện mang tên gọi “Gắn kết – Sẻ chia” nhằm trao tặng các phần quà cho 300 em học sinh cấp I, cấp II cũng như 20 hộ gia đình khó khăn và 10 hộ gia đình có hoàn cảnh neo đơn tại xã Bình Phong Thạnh, Mộc Hóa, Long An trước thềm năm học mới 2012 – 2013..</p>
        </li>
        <li>
            <p>Tài trợ kinh phí cho chương trình chương trình từ thiện “Trăng Thu Đà Lạt” do báo Tuổi Trẻ tổ chức vào 03,04/09/2014, tại thành phố Bảo Lộc và Đà Lạt. Chương trình là chuỗi hoạt động vui chơi cho khoảng 400 em nhỏ từ 6 đến 12 tuổi, là những trẻ em khuyết tật sống trong các mái ấm hay trẻ em có hoàn cảnh gia đình khó khăn.&nbsp;</p>
        </li>
        <li>
            <p>Đặc biệt Du Lịch Việt trích lợi nhuận tổ chức chương trình thường niên: “HÀNH TRÌNH YÊU THƯƠNG”. Đây là hoạt động Công ty tổ chức dành tặng cho con em khách hàng thân thiết của Du Lịch Việt. Tại chương trình, ngoài các hoạt động vui chơi dã ngoại, sinh hoạt &amp; hòa nhập, các em còn tự tay tham gia các hoạt động hướng về cộng đồng vô cùng ý nghĩa.&nbsp;</p>
        </li>
        <li>
            <p>Công đoàn công ty thường xuyên tổ chức các hoạt động mang tên “Du Lịch Việt – Thiện Nguyện” khác như: Chương trình “Bát cháo yêu thương” cho người già, trẻ em có hoàn cảnh khó khăn, người nhà của bệnh nhân tại các bệnh viện.</p>
        </li>
    </ul>

    <p><strong>Ngoài ra, các hoạt động mang tính Xã hội khác của DLV cũng hết sức sôi nổi:</strong></p>

    <ul>
        <li>
            <p>Tham gia các Ngày hội Giao lưu văn hóa Việt – Nhật, Giao lưu văn hóa Việt – Hàn…. do Tổng Lãnh Sự Quán các nước, Tổng Cục Du lịch, Hiệp hội Doanh nghiệp các nước tại TP. Hồ Chí Minh đồng tổ chức.</p>
        </li>
        <li>
            <p>
                Đồng thời liên kết với các Trường Đại học và Khoa Du lịch giúp định hướng cho sinh viên quá trình học tập, Công ty thường xuyên tiếp nhận trung bình 50 sinh viên/năm vào thực tập tại công ty nhằm rèn luyện thêm kỹ năng chuyên môn, ứng dụng thực tế trong ngành Du lịch cho các bạn. Cũng như việc ưu tiên tạo điều kiện cho sinh viên thực tập tại công ty được đánh giá, phỏng vấn nhận lại làm việc sau khi khóa thực tập kết thúc.<br />
                &nbsp;
            </p>
        </li>
    </ul>

    <p><em><em>Đăng ngày: 20/06/2016</em></em></p>
</div>