@using QuanLy_TourDuLich.Models
@model List<ChiTiet_DatTour>

@if (Model == null)
{
    <a href="~/Home/XemGioHang" class="nav-item nav-link"><i class="fa-shopping-cart fa"></i></a>
}
else
{
    <a href="~/Home/XemGioHang" class="nav-item nav-link"><i class="fa-shopping-cart fa"></i> @Model.Count()</a>
}
