
@{
    ViewBag.Title = "Thanh toán thành công";
}

<div class="container" style="width:60%">
    <h3>Thanh toán thành công</h3>
    <p>Cảm ơn bạn đã thanh toán. Chúng tôi sẽ liên hệ với bạn sớm.</p>
    <a href="/Home/Index" class="btn btn-primary">Trở về trang chủ</a>
</div>
