
@{
    ViewBag.Title = "Chọn tài khoản";
}


<div class="container col-md-5 text-center">
    <h2>Bạn là</h2>
    <div>
        <a href="~/Account/DangNhapQuanLy"><input type="button" class="btn btn-success" value="Quản lý" /></a>
        <a href="~/Account/DangNhapKhachHang"><input type="button" class="btn btn-success" value="Khách hàng" /></a>
    </div>
</div>