
@{
    ViewBag.Title = "ChonTaiKhoan";
}


<div style="font-family:'Segoe UI'">
    <h2 >Bạn là</h2>
    <div>
        <a href="~/Account/DangNhapQuanLy"><input type="button" class="btn btn-success" value="Quản lý" /></a>
        <a href="~/Account/DangNhapKhachHang"><input type="button" class="btn btn-success" value="Khách hàng" /></a>
    </div>
</div>