
@{
    ViewBag.Title = "Đăng nhập khách hàng";
}

<div class="container">
    <h2>Đăng nhập khách hàng</h2>
    <form method="post" action="@Url.Action("DangNhapKhachHang","Account")">
        <div >
            <label class="form-label">Email hoặc số điện thoại *</label>
            <input class="form-control" type="text" name="TenDangNhap"/>
        </div>
        <div>
            <label class="form-label">Mật khẩu *</label>
            <input class="form-control" type="password" name="MatKhau"/>
        </div>

        <input type="submit" class="btn btn-success" value="Đăng nhập"  />
        @ViewBag.Login
    </form>
</div>

